.rating{
    color: red;
}

.img-box img{
    width: 300px;
}

.hotel-box{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
}

.hotel-box p{
    color: gray;
}